#zone-scenes{
text-align: center;  
margin-top: 1%;
}

#zone-texte{
    text-align: center;  
    margin-top: 1%;
    font-size: larger;
    width: 70%;
   margin-left: 15%;
}
#Boutons{
    text-align: center;
}

#choix2{
    width: 15%;
    margin-right: 5%;
margin-top: 10px;
margin-bottom: 8px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 250px;
}
#choix1{
width: 15%;
margin-top: 10px;
margin-bottom: 8px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 250px;
}
#choix3{
    width: 15%;
    margin-left: 5%;
margin-top: 10px;
margin-bottom: 8px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 250px;
}

#bouton-jouer{
    font-size:large;
    padding:12px;
    border-radius: 5px;

}
#bouton-jouer2{

    font-size:large;
    padding:12px;
    border-radius: 5px;

}
#bouton-jouer3{

    font-size:large;
    padding:12px;
    border-radius: 5px;

}

#texteFooter{
    font-family: "Acme";
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}