#zone-scenes{
width: 70%;
margin-left: 15%;
margin-top: 2%;
border-radius: 10px;
}



#bouton-jouer{
    font-size:large;
    padding:8px;
    border-radius: 5px;
    margin-left: 47%;
    margin-top: 1%;
}
#bouton-jouer2{
    font-size:large;
    padding:8px;
    border-radius: 5px;
    margin-left: 57%;
    margin-top: 1%;
}

#texteFooter{
    font-family: "Acme";
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}